<html>
  <h1> Tic Tac Toe </h1>
  <p> <%= "Type start to begin a simple TTT game..." %> </p>
  <form>
    <input type="text" name="start" required> <br>
    <input type="submit" value="Submit">
  </form>
</html>
