<!DOCTYPE html>
<html>
  <head>
    <title> Tic Tac Toe </title>
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <h1> Tic Tac Toe </h1>
  <body>
    <div class="board-wrapper">
      <% board.cells.each_with_index do |cell, index| %>
        <% if board.mark_at(index) == "-" %>
          <form action="" method="post">
            <div class="cell">
              <input type="hidden" name=board value=<%= board.cells.join("") %> />
              <button class='button' name=player_move value=<%= index + 1 %> type='submit'><% %>
            </button>
            </div>
          </form>
        <% else %>
          <div class="cell">
            <p class="played_cell"> <%= cell %> </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </body>
</html>


