<html>
  <h1> Tic Tac Toe </h1>
  <body>
    <p> <%= "Click on a square to make a move" %> </p>
    <% board.split("").each_with_index do |cell, index| %>
      <% if board[index] == "-" %>
        <form action="" method="post">
          <button name=player_move value=<%= index + 1 %> type='submit'><%= cell %></button>
        <% else %>
          <button type='button'><%= cell %></button>
        <% end %>
      <% end %>
        </form>
  </body>
</html>


