<html>
  <h1> Tic Tac Toe </h1>
  <p> <%= "Enter an index to make a move" %> </p>
  <p> <<%= board %> name="board"></p>
  <form>
    Index: <br>
    <input type="text" name="player_move"> <br>
    <input type="submit" value="Submit">
  </form>
</html>


